body {
  margin: 0;
  font-family: "lucida grande";
}
a {
  text-decoration: none;
}

.footer-wrapper{
    background-color: #aa96da;
    color: #ffffd2;
    height: 200px;
    padding: 40px;
}

@keyframes animation-logo{
    from{background-color: #aa96da; color: #ffffd2;}
    to{background-color: #ffffd2; color: #aa96da;}
}
.footer-logo {
    float: right;
    font-size: 36px;
    font-family: Bebas Neue;
    padding: 0px 10px;
    animation-name: animation-logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    color: #ffffd2;
  }

  .footer-logo:hover{
    float: right;
    font-size: 36px;
    font-family: Bebas Neue;
    background-color: #aa96da;
    color: #ffffd2;
    padding: 0px 10px;
    transition: all 0.5s;
    animation-play-state: paused;
  }
  
.footer-contents li{
  padding-bottom: 20px;
  font-family:century;
  font-size: 15px;
  list-style-type: none;
}

.footer-list li {
  float:left;
}

.contents-info li{
	float: none;
}

.mail, .twitter, .instagram{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.contacts li{
 	float:none;
} 

@media(max-width:670px) {
  .footer-wrapper, .footer-list, .footer-logo{
    width: 100%;
  }

  .footer-list li{
    float: none;
  }
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.leson {
  float: left;
  width: 18%;
  margin-right: 15px;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 170px;
  width: 60%;
  color: #aa96da;
  font-family: century;
  font-weight: bold;
  background-color: #c5fad5;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #b3aeb5;
}
.lesson-icon img {
  height: 200px;
  width: 200px;
}
* {
  box-sizing: border-box;
}

	
/* CSS Button */
.heading h1 {
  margin: 50px 0;
  color: #434343;
  text-transform: uppercase;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #ffffd2;
  border: none;
  color: #434343;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 45px;
}

.btn:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #aa96da;
  color: #000;
}

.btn:after {
  content: "";
  background: #ffffd2;
  display: block;
  position: absolute;
  padding-top:s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btn:focus { outline:0; }


.message-wrapper {
padding: 30px 0px 100px 0px;
  text-align: center;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top left, #fdbb2d, #22c1c3);  
  font-family: 'Oswald', sans-serif;
}

/* CSS Tesimonial */
.testimonials {
    padding: 15px 0px 25px 0px;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    margin-top: 10px;
  }
  
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }

  .border {
    width: 160px;
    height: 5px;
    background: #aa96da;
    margin: 26px auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  
  .testimonial {
    background: #fff;
    padding: 30px;
    font-family: century;
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }

@media (max-width: 1000px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
   
}

@media (max-width: 670px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

/* Batas CSS Testimonial */

/* Header CSS */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 100px;
  font-family: Bebas Neue;
}

.copy-container h2 {
  font-size: 40px;
}

.logo {
  float: left;
  font-size: 36px;
  font-family: Bebas Neue;
  padding: 0px 10px;
  animation-name: animation-logo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

/* Slider untuk Main*/
/* Edited with Canva */
/* Sumber Foto: Unsplash(dot)com */

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

figure {
  margin: 0;
}

div#gallery {
  width: 100%;
  overflow: hidden;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 20s slidy infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

figure.slider img {
  width: 100%;
  height: auto;
}
