body {
  margin: 0;
  font-family: "lucida grande";
}
a {
  text-decoration: none;
}

.footer-wrapper{
    background-color: #aa96da;
    color: #ffffd2;
    height: 120px;
    padding: 40px;
}

@keyframes animation-logo{
    from{background-color: #aa96da; color: #ffffd2;}
    to{background-color: #ffffd2; color: #aa96da;}
}
.footer-logo {
    float: right;
    font-size: 36px;
    font-family: Bebas Neue;
    padding: 0px 10px;
    animation-name: animation-logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  .footer-logo:hover{
    float: right;
    font-size: 36px;
    font-family: Bebas Neue;
    background-color: #aa96da;
    color: #ffffd2;
    padding: 0px 10px;
    transition: all 0.5s;
    animation-play-state: paused;
  }
  
.footer-contents li{
  padding-bottom: 20px;
  font-family: Century Gothic;
  font-size: 15px;
  list-style-type: none;
}

.footer-list li {
  float:left;
}

.contents-info li{
	float: none;
}

.mail, .twitter, .instagram{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.contacts li{
 	float:none;
} 

@media(max-width:670px) {
  .footer-wrapper, .footer-list, .footer-logo{
    width: 100%;
  }

  .footer-list li{
    float: none;
  }
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.leson {
  float: left;
  width: 20%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 170px;
  width: 60%;
  color: #aa96da;
  font-family: century;
  font-weight: bold;
  background-color: #c5fad5;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #b3aeb5;
}
.lesson-icon img {
  height: 200px;
  width: 200px;
}
